@media screen and (max-width: 900px) {
  .none900 {
    display: none;
  }

  .menu-wrap .menu {
    width: 50%;
  }

  .home-btn {
    flex-direction: column;
  }

  /* ---------- Section: O nas ---------- */

  #onas > div:nth-of-type(1) {
    grid-column: 1/5;
    grid-row: 1;
  }

  #onas > div:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 2;
  }

  #onas > div:nth-of-type(3) {
    grid-column: 1/5;
    grid-row: 4;
  }

  #onas > div:nth-of-type(4) {
    grid-column: 3/5;
    grid-row: 2;
  }

  /* ---------- Section: Aktualności ---------- */

  #aktualnosci > div:nth-of-type(1) {
    grid-column: 1/5;
    grid-row: 1;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  header {
    position: fixed;
  }

  .menu-wrap .menu {
    width: 100%;
  }

  /* ---------- Section: O nas ---------- */

  #onas > div:nth-of-type(2) {
    grid-column: 1/5;
    grid-row: 2;
  }

  #onas > div:nth-of-type(3) {
    grid-column: 1/5;
    grid-row: 4;
  }

  #onas > div:nth-of-type(4) {
    grid-column: 1/5;
    grid-row: 3;
  }

  /* ---------- Section: Aktualności ---------- */
  #aktualnosci {
    padding: 0;
  }

  /* ---------- Section: Grafik ---------- */
  #grafik {
    padding: 0;
  }

  /* ---------- Section: Kontakt ---------- */

  #kontakt > div:nth-of-type(1) {
    grid-column: 1/5;
    grid-row: 1;
  }

  #kontakt > div:nth-of-type(2) {
    grid-column: 1/5;
    grid-row: 2;
  }

  #kontakt > div:nth-of-type(3) {
    grid-column: 1/5;
    grid-row: 3;
  }

  #kontakt > div:nth-of-type(4) {
    grid-column: 1/5;
    grid-row: 4;
  }

  #kontakt > div:nth-of-type(5) {
    display: none;
  }

  #kontakt > div:nth-of-type(6) {
    grid-column: 1/5;
    grid-row: 5;
  }
  #kontakt > div:nth-of-type(6) a {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  section {
    padding: 4rem 0;
  }

  /* ---------- Section: Oferta---------- */

  #oferta > div:nth-of-type(1) {
    grid-column: 1/5;
    grid-row: 1;
  }

  #oferta > div:nth-of-type(2) {
    grid-column: 1/5;
    grid-row: 2;
  }

  #oferta > div:nth-of-type(3) {
    grid-column: 1/5;
    grid-row: 3;
  }

  #oferta > div:nth-of-type(4) {
    min-height: 25vh;
    grid-column: 1/5;
    grid-row: 4;
  }

  #oferta > div:nth-of-type(5) {
    grid-column: 1/5;
    grid-row: 5;
  }

  #oferta > div:nth-of-type(6) {
    grid-column: 1/5;
    grid-row: 6;
  }

  #oferta > div:nth-of-type(7) {
    display: none;
  }

  #oferta > div:nth-of-type(8) {
    grid-column: 1/5;
    grid-row: 7;
    min-height: 25vh;
  }

  #oferta > div:nth-of-type(9) {
    grid-column: 1/5;
    grid-row: 8;
  }

  #oferta > div:nth-of-type(10) {
    grid-column: 1/5;
    grid-row: 9;
  }

  #oferta > div:nth-of-type(11) {
    display: none;
  }

  .show-scroll {
    bottom: 3.5rem;
  }

  section#aktualnosci {
    padding-bottom: 5rem;
  }

  section#onas {
    background: var(--light-color);
  }

  section#aktualnosci {
    background: var(--light-color);
  }

  section#grafik {
    background: var(--light-color);
  }

  section#cennik {
    background: var(--light-color);
  }
}
