header {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  background-color: var(--white-color);
  padding-top: 6px;
}

#navigation {
  width: 100%;
  padding: 0;
  margin: 0;
}

#nav-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: auto;
  max-height: var(--header-height);
  padding: 0.5rem;
  margin-left: 1rem;
}

#nav-logo2 {
  width: auto;
  max-width: 150px;
  height: auto;
  margin-top: 3rem;
}

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 45px;
  height: 40px;
  padding: 0.6rem;
  margin: 0.4rem 1rem 0.4rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--red-color);
  border-radius: 7px;
  background-color: var(--white-color);
}
/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--red-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background-color: var(--white-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: scale(0);
  transition: all 0.3s ease;
  padding: 10rem 0;
}

.nav-toggler {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  color: var(--gray-color);
  font-size: clamp(2rem, 1.8182rem + 0.9091vw, 2.5rem);
  transition: all 0.3s ease;
}

.nav-toggler:hover {
  color: var(--red-color);
  background-color: var(--light-color-alt);
}
