@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ---------- CSS variables ---------- */
:root {
  --header-height: 3.5rem;
  --header-height-half: 2rem;
  --max-width: 1200px;
  --min-width: 320px;
  /* Colors */
  --hue-light: 0;
  --hue-red: 353;
  --gray-color: hsl(var(--hue-light), 0%, 50%);
  --gray-color-alt: hsl(var(--hue-light), 0%, 30%);
  --light-color: hsl(var(--hue-light), 0%, 94%);
  --light-color-alt: hsl(var(--hue-light), 0%, 88%);
  --red-color: hsl(var(--hue-red), 100%, 40%);
  --red-color-alt: hsl(var(--hue-red), 80%, 30%);
  --white-color: #fff;
  --black-color: #000;

  /* Fonts sizes */
  --text-font: 'Open Sans', sans-serif;

  --h1-size: clamp(2.617rem, 1.907rem + 3.5498vw, 5.235rem);
  --h2-size: clamp(1.618rem, 1.1792rem + 2.1939vw, 3.236rem);

  --normal-font: clamp(1rem, 0.7455rem + 1.2727vw, 1.7rem);
  --small-font: clamp(0.8rem, 0.6818rem + 0.5912vw, 1.236rem);
}

/* ---------- Global CSS & main layout elements ---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  font-size: var(--normal-font);
  background-color: var(--light-color);
  color: var(--gray-color);
  line-height: 1.6;
  text-decoration: none;
}

/* Full screen images display & quasi-page sections */
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 4rem 2rem;
  position: relative;
}

/* ---------- Fonts styles ---------- */
h1,
h2 {
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 800;
  letter-spacing: 0.09em;
}

h2 {
  font-size: var(--h2-size);
  letter-spacing: 0.06em;
}

h3 {
  font-size: var(--normal-font);
  font-weight: bold;
}

p {
  font: var(--text-font);
  font-size: var(--normal-font);
  font-weight: 300;
}

a {
  text-decoration: none;
}

.italic {
  font-size: var(--small-font);
  font-weight: lighter;
  font-style: italic;
}

.left {
  text-align: left;
}

/* ---------- Reusable CSS classes ---------- */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: stretch;
  align-items: stretch;
  grid-gap: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-color);
  background-color: rgba(255, 255, 255, 0.9);

  height: auto;
  width: auto;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  min-width: 100px;

  padding: 0.8rem 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid transparent;

  background: var(--red-color);
  color: var(--light-color);
  text-decoration: none;
  font-size: var(--normal-font);
  text-transform: uppercase;
  transition: all 0.4s ease-out;

  cursor: pointer;
}

.btn:hover {
  color: var(--red-color);
  background-color: var(--white-color);
  border: 1px solid var(--red-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

/* Content inserted from CMS */
.inserted {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ---------- Section: Home ---------- */

/* showcase with full page mp4 */
.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white-color);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* Homepage video blur */
.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.home-btn {
  display: flex;
  flex-direction: row;
}

/* ---------- Section: O nas ---------- */
#onas h2 {
  color: var(--red-color);
}

#onas span {
  font-weight: 700;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 55vh;
  width: 100%;
  z-index: 5;
}

.owl-dots {
  display: none;
}

.owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  max-height: 40vh;
  border-radius: 15px;
  width: auto;
}

.owl-item img {
  height: 100%;
  width: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-nav {
  align-self: flex-start;
  height: 3rem;
  margin-top: 3px;
}

.car {
  margin: 0;
  padding: 10px;
}

.car:hover {
  color: var(--red-color);
  background-color: var(--white-color);
  border-radius: 10px;
  transform: scale(1.1);
}

#onas > div:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1;
}

#onas > div:nth-of-type(2) {
  grid-column: 1/3;
  grid-row: 2;
}

#onas > div:nth-of-type(3) {
  grid-column: 1/5;
  grid-row: 3;
}

#onas > div:nth-of-type(4) {
  grid-column: 3/5;
  grid-row: 1/3;
}

/* ---------- Section: Aktualności ---------- */
#aktualnosci a {
  color: var(--grey-color);
  cursor: pointer;
}

#aktualnosci p {
  text-align: left;
  font-size: var(--small-font);
}

#aktualnosci a:hover {
  color: var(--red-color-alt);
}

.social-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#aktualnosci > div:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 1;
  padding: 0;
}

#aktualnosci > div:nth-of-type(2) {
  grid-column: 4/5;
  grid-row: 1;
  background-color: var(--white-color);
}

/* ---------- Section: Grafik ---------- */

#grafik .card {
  align-self: stretch;
  justify-self: stretch;
  padding: 0;
}

/* ---------- Section: Oferta ---------- */
#oferta {
  padding: 2rem;
}

#oferta span {
  font-weight: 700;
}

#oferta > div:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1;
  color: var(--white-color);
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
}

#oferta > div:nth-of-type(2) {
  grid-column: 3/5;
  grid-row: 1;
}

#oferta > div:nth-of-type(3) {
  grid-column: 1/3;
  grid-row: 2;
}

#oferta > div:nth-of-type(4) {
  grid-column: 3/5;
  grid-row: 2;
}

#oferta > div:nth-of-type(5) {
  grid-column: 1/5;
  grid-row: 3;
}

#oferta > div:nth-of-type(6) {
  grid-column: 1/3;
  grid-row: 4;
}

#oferta > div:nth-of-type(7) {
  grid-column: 3/5;
  grid-row: 4;
}

#oferta > div:nth-of-type(8) {
  grid-column: 1/3;
  grid-row: 5;
}

#oferta > div:nth-of-type(9) {
  grid-column: 3/5;
  grid-row: 5;
}

#oferta > div:nth-of-type(10) {
  grid-column: 1/3;
  grid-row: 6;
}

#oferta > div:nth-of-type(11) {
  grid-column: 3/5;
  grid-row: 6;
}

/* ---------- Section: Cennik ---------- */
#cennik h1 {
  color: var(--red-color);
}

#cennik p {
  width: 100%;
  text-align: left;
}

table,
th,
td {
  text-align: left;
  padding-left: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 35px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: rgba(255, 0, 0, 0.7);
}

td {
  min-height: 30px;
}

.tdc {
  background-color: var(--white-color);
}

/* ---------- Section: Kontakt ---------- */
#kontakt h3,
#kontakt p,
#kontakt a {
  align-self: flex-start;
  margin-left: 1rem;
}

#kontakt a {
  color: var(--grey-color);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

#kontakt a:hover {
  color: var(--red-color-alt);
}

.map-responsive {
  width: 100%;
  height: 100%;
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#kontakt > div:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1;
  color: var(--white-color);
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
}

#kontakt > div:nth-of-type(2) {
  grid-column: 3/5;
  grid-row: 1;
}

#kontakt > div:nth-of-type(3) {
  grid-column: 1/3;
  grid-row: 2;
}

#kontakt > div:nth-of-type(4) {
  grid-column: 3/5;
  grid-row: 2;
  padding: 0;
}

#kontakt > div:nth-of-type(5) {
  grid-column: 1/5;
  grid-row: 3;
  min-height: 20vh;
}

#kontakt > div:nth-of-type(6) {
  grid-column: 1/5;
  grid-row: 4;
  min-height: 20vh;
}

/* ---------- Section: Footer ---------- */

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: (var(--header-height-half) + 6px);
  background-color: var(--white-color);
  color: var(--gray-color);
  font-size: var(--small-font);
  padding-top: 6px;
}

/* scroll to the top button*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -4rem;
  display: flex;
  color: var(--red-color-alt);
  background-color: var(--light-color-alt);

  padding: 0.6rem;
  border-radius: 5px;
  z-index: 100;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  transform: scale(1.1);

  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 1rem;
}

footer > a {
  color: var(--grey-color);
  cursor: pointer;
  margin: 0 1rem;
  padding: 0 0 5px 0;
  transition: all 0.4s ease-out;
}

footer > a:hover {
  color: var(--red-color-alt);
}

/* ---------- Section: Home ---------- */
/* ---------- Section: O nas ---------- */
/* ---------- Section: Aktualności ---------- */
/* ---------- Section: Grafik ---------- */
/* ---------- Section: Oferta ---------- */
/* ---------- Section: Cennik ---------- */
/* ---------- Section: Kontakt ---------- */
/* ---------- Section: Footer ---------- */
